<footer class="footer u-bg-alpha75 fixed-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto footer-social u-mt-2 u-mt-1@small">
        <ul>
          <li>
            <a class="u-circle u-circle-0 u-bg-grey2 u-lnk-primary u-hvr-secondary" href="#"><i class="fab fa-linkedin-in"></i></a>
          </li>
          <li>
            <a class="u-circle u-circle-0 u-bg-grey2 u-lnk-primary u-hvr-secondary" href="#"><i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a class="u-circle u-circle-0 u-bg-grey2 u-lnk-primary u-hvr-secondary" href="#"><i class="fab fa-facebook-f"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright text-center u-fg-grey2 mt-1">
      &copy;{{year}} all rights reserved
    </div>
  </div>
</footer>
