<div class="home">
  <!-- <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-lg-5 align-self-center">
        <mat-card class="u-bg-alpha75 u-fg-grey2 u-bc-grey2 card u-p-2@medium u-p-1@small u-mt-10 u-mt-12@medium">
          <h3>The Fusion Platform <span class="rtrade">&reg;</span></h3>
          <h6 class="text-center">Flexible data and algorithm processing as an API</h6>
          <a id="lnkGetStarted" routerLink="/items" mat-raised-button class="u-bg-grey7 u-lnk-light u-mt-1">
            Get Started
          </a>
        </mat-card>
      </div>
    </div>
  </div> -->
  <app-item-list></app-item-list>
</div>
